n8n/Story creator to Discord.json
{
  "name": "Story creator to Discord",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        288,
        -176
      ],
      "id": "657fbbf5-efd8-4d56-a5a3-b287b7495bd2",
      "name": "When chat message received",
      "webhookId": "23d756aa-cffe-485a-92c9-6bcb158af1a0"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"story_type\": [\"scifi\",\"isekai\", \"system\"],\n    \"plot\":\"based on user's prompt generate a 200 word plot\",\n    \"title\": \"book title\",\n    \"number_of_chapters\": \"random number between 5 and 10\",\n    \"number_of_words_per_chapter\":\"between 500 and 1000\",\n    \"chapters\" :[\n      {\n          \"chapter_number\": \"integer chapter number\",\n          \"chapter_title\": \"generate the title of the chapter\",\n          \"chapter_plot\": \"generate the plot of the chapter in 100 words\"\n      }\n    ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        704,
        0
      ],
      "id": "45fde7c0-6ab7-4004-bbae-4ee9ff93758f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.chapters",
        "include": "selectedOtherFields",
        "fieldsToInclude": "output.plot, output.words_each_chapter, output.story_type, , output.number_of_words_per_chapter",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        896,
        -176
      ],
      "id": "98bf9b4e-5701-4f79-94c1-59f32b940eb9",
      "name": "Split Out"
    },
    {
      "parameters": {
        "model": "qwen2.5:7b-instruct-q4_K_M",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        512,
        0
      ],
      "id": "62e63b29-c37f-43bb-9c38-6a2f773338c2",
      "name": "Ollama Model",
      "credentials": {
        "ollamaApi": {
          "id": "Bc0BiOpHV8bG6lRn",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen2.5:7b-instruct-q4_K_M",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        1344,
        16
      ],
      "id": "cc8ab388-b830-4ceb-8915-46c46a08484c",
      "name": "Ollama Model1",
      "credentials": {
        "ollamaApi": {
          "id": "Bc0BiOpHV8bG6lRn",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        512,
        -176
      ],
      "id": "be29171a-80cd-4fdd-819a-3d533cb0d70a",
      "name": "Generate Story Overview"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a very good English writer and you are writing a {{ $json['output.story_type'] }} story with the following plot: \"\"\"{{ $json['output.plot'] }}\"\"\". You are writing chapter {{ $json['output.chapters'].chapter_number }} that is called {{ $json['output.chapters'].chapter_title }}. This chapter plot: \"\"\"{{ $json['output.chapters'].chapter_plot }}\"\"\" and the story should have the length of {{ $json['output.number_of_words_per_chapter'] }} words. Do not include the title of the chapter or chapter number.",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "you are a writer"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1344,
        -160
      ],
      "id": "e4e785d1-0499-4eb8-8701-696ed097fea2",
      "name": "Generate Chapter By Chapter"
    },
    {
      "parameters": {
        "jsCode": "let text = $input.first().json.text;\nlet splitText = text.split(\"\\n\\n\");\n\nlet maxTextLength = 1950;\n\nlet finalOutput = [];\n\nlet newContent = \"\";\nfor (let i = 0; i < splitText.length; i++) {\n    if (newContent.length + splitText[i].length + 2 > maxTextLength) {\n\n        finalOutput.push(newContent);\n        newContent = splitText[i];\n    } else {\n        newContent = newContent + \"\\n\\n\" + splitText[i];\n    }\n}\nif (newContent.length > 0) {\n    finalOutput.push(newContent);\n}\n\nreturn finalOutput.map(p => ({\n  json: {\n    content: p.trim()\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        -160
      ],
      "id": "5dd0e836-4901-40eb-b1c8-82bed89b87e5",
      "name": "Generate Chapter Parts - max 2k chars"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1104,
        -176
      ],
      "id": "921d72cd-783e-48cd-9de5-232f92538663",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=.\n.\n.\n\n**{{ $json.output.title }}** \n--------------------------------------------\n|| {{ $json.output.plot }} ||",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        896,
        -368
      ],
      "id": "3300fd20-c964-4054-bae5-ce7ea8a11b89",
      "name": "Discord - Send Title and plot",
      "webhookId": "b78fa86f-13fd-42aa-af0f-80cf4411b6e7",
      "credentials": {
        "discordWebhookApi": {
          "id": "mYb4j2zsjceUYV9U",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=.\n\n**CHAPTER {{ $('Split Out').item.json['output.chapters'].chapter_number }} - {{ $('Split Out').item.json['output.chapters'].chapter_title }}**\n------------------------------------------------------------------\n",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1808,
        -368
      ],
      "id": "18c2ed96-b1e0-4439-8804-fa8a3b83fe5e",
      "name": "Discord - Send Chapter name",
      "webhookId": "b78fa86f-13fd-42aa-af0f-80cf4411b6e7",
      "credentials": {
        "discordWebhookApi": {
          "id": "mYb4j2zsjceUYV9U",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1984,
        -32
      ],
      "id": "f15de947-72b8-4ba3-8858-b601ced38e07",
      "name": "Discord - Send chapter content",
      "webhookId": "b78fa86f-13fd-42aa-af0f-80cf4411b6e7",
      "credentials": {
        "discordWebhookApi": {
          "id": "mYb4j2zsjceUYV9U",
          "name": "Discord Webhook account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Generate Story Overview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Generate Story Overview",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Story Overview",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Chapter By Chapter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Story Overview": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "Discord - Send Title and plot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Chapter By Chapter": {
      "main": [
        [
          {
            "node": "Generate Chapter Parts - max 2k chars",
            "type": "main",
            "index": 0
          },
          {
            "node": "Discord - Send Chapter name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Chapter Parts - max 2k chars": {
      "main": [
        [
          {
            "node": "Discord - Send chapter content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Generate Chapter By Chapter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord - Send chapter content": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ece476cf-20eb-4082-af8e-c1824502021e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "pIxxDbApVr5rWVB8",
  "tags": [
    {
      "createdAt": "2025-08-16T07:06:00.291Z",
      "updatedAt": "2025-08-16T07:06:00.291Z",
      "id": "mEv4BUH2kkhk7mcb",
      "name": "story"
    },
    {
      "createdAt": "2025-08-16T07:06:02.520Z",
      "updatedAt": "2025-08-16T07:06:02.520Z",
      "id": "DknCDopnzLo7jy8D",
      "name": "discord"
    }
  ]
}